<!DOCTYPE html>
<html>
  <head>
    <title>人狼管理アプリ <%= version %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/index.css">
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/image_upload.js"></script>
    <script src="/javascript/wolf.js"></script>
    <script src="/javascript/change_image.js"></script>
  </head>
  <body>
    <div class="container">
      <h2 class="page-title">人狼管理アプリ プロトタイプ <%= version %></h2>
      <h3 class="survive-player">
        <span id="total">１０</span>人中、<span id="dead">　５</span>人が死亡　残り<span id="rest">　５</span>人
      </h3>
      <div class="player-list">
        <ul class="player-list">
          <% @players.each do |player| %>
            <li id="player-<%= player.no %>" class="player">
              <span><%= player.no %>:<%= player.name %><br></span>
              <img id="player-img-<%= player.no %>" src="/images/<%= player.file %>" data-src="/images/<%= player.file %>" width="128" height="128">
            </li>
          <% end %>
        </ul>
      </div>
      <div class="sidebar">
        <div class="date-title">
          <span class="day-number">　１</span>日目
          <span class="date-operation">
            <span class="date-up">▲</span><span class="date-down">▼</span>
          </span>
        </div>
        <div class="role-list">
          <h4 class="role-title">
            役職一覧
          </h4>
          <ul class="role-list">
            <li class="role">
              <label class="role-name">村人</label>
              <label class="role-number">11</label>
              <label class="edit-role">編集</label>
              <label class="remove-role">削除</label>
              <input type="text" class="role-name hide">
              <input type="number" class="role-number hide">
              <label class="finish-edit hide">完了</label>
            </li>
            <li class="role">
              <label class="role-name">人狼</label>
              <label class="role-number">&nbsp;3</label>
              <label class="edit-role">編集</label>
              <label class="remove-role">削除</label>
              <input type="text" class="role-name hide">
              <input type="number" class="role-number hide">
              <label class="finish-edit hide">完了</label>
            </li>
            <li class="add-role"><button id="add-role">役職追加</button></li>
          </ul>
        </div>
        <div class="sidebar-operations">
          <ul class="operation-buttons">
            <li class="operation-button">
              <button id="vote-result" class="vote-result">投票結果</button>
            </li>
            <li class="operation-button">
              <button id="reset-vote" class="reset-vote">投票リセット</button>
            </li>
            <li class="operation-button">
              <button id="manage-player" class="manage-player">メンバー管理</button>
              <button id="manage-end" class="manage-end hide">メンバー確定</button>
            </li>
          </div>
        </div>

        <footer>
          <h4>character images from <a href="http://www.wanpug.com" target="_blank">http://www.wanpug.com</a>
            effect images created by <a href="http://www.facebook.com/natsuki.sato.japan" target="_blank">Natsuki Sato</a>
            application created by <a href="http://www.facebook.com/aizawa.masahiro" target="_blank">Masahiro Aizawa</a></h4>
        </footer>
      </div>

      <div id="mask" class="mask hide"></div>
      <div id="modal" class="hide">
        <div>
          <div class="modal-name">
            <span class="player-name">01:くまー</span>
            <span class="close">×</span>
          </div>
          <div class="left-menu">
            <button id="day-kill-button" class="kill-button" type="button">昼死んだ</button><br>
            <button id="night-kill-button" class="kill-button" type="button">夜死んだ</button><br>
            <button id="kill-cancel" type="button">やっぱり死んでない</button>
          </div>
          <div class="modal-image">
            <img src="/images/bear.gif" width="300" height="300">
            <input id="modal-id" type="hidden" value"">
          </div>
          <div class="right-menu">
            <input class="vote-number" type="number" min="0" value="0"><button id="vote" type="button">投票</button><br>
            <button id="vote-cancel" type="button">票取消し</button>
          </div>
        </div>
      </div>

      <div id="manage-modal" class="hide">
        <div>
          <div class="modal-name">
            <span class="player-name">
              <label class="player-name-label">クリックしてプレイヤー名を入力</label>
              <input class="player-name-editor hide" type="text">
            </span>
            <span class="close">×</span>
          </div>
          <div class="modal-image">
            <input type="file" id="player-image-upload" >
            <div class="uploaded-image">
              <div class="drag-drop-area">
                ここに画像を放り込んでアップロード
              </div>
            </div>
          </div>
          <div class="image-right-menu">
            <button id="save-player" type="button">保存（未実装）</button><br>
            <button id="add-new-player" type="button">追加</button>
            <button id="remove-player" class="hide" type="button">削除</button>
            <input type="hidden" class="edit-player-no hide">
          </div>
        </div>
      </div>

      <script>
        $(function(){
            var w = new ManageWolf();
            var i = new ImageUploader($("div#manage-modal input#player-image-upload"), $("div#manage-modal div.uploaded-image"))
          }
         )
      </script>
    </body>
  </html>

