<!DOCTYPE html>
<html manifest="wolf.manifest">
  <head>
    <title>人狼管理アプリ <%= version %></title>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="/index.css">
    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/image_upload.js"></script>
    <script src="/javascript/load_image.js"></script>
    <script src="/javascript/wolf.js"></script>
    <script src="/javascript/change_image.js"></script>
  </head>
  <body>
    <div class="container">
      <h2 class="page-title">
        <label class="title-label"><%= Date::today.year %>年<%= Date::today.month %>月<%= Date::today.day %>日の人狼</label>
        <input class="title-input hide" type="text" size="45">
      </h2>
      <h3 class="survive-player">
        <span id="total">１０</span>人中、<span id="dead">　５</span>人が死亡　残り<span id="rest">　５</span>人
      </h3>
      <div class="player-list">
        <ul class="player-list">
          <li id="player-01" class="player">
            <span>01:もぶぞー<br></span>
            <img id="player-img-01" src="/images/mob-human.png" data-src="/images/mob-human.png" width="128" height="128">
          </li>
          <li id="player-02" class="player">
            <span>02:もぶすけ<br></span>
            <img id="player-img-02" src="/images/mob-human.png" data-src="/images/mob-human.png" width="128" height="128">
          </li>
          <li id="player-03" class="player">
            <span>03:がおきち<br></span>
            <img id="player-img-03" src="/images/mob-wolf.png" data-src="/images/mob-wolf.png" width="128" height="128">
          </li>
        </ul>
      </div>
      <div class="sidebar">
        <div class="date-title">
          <span class="day-number">　０</span>日目
          <span class="date-operation">
            <span class="date-up">▲</span><span class="date-down">▼</span>
          </span>
        </div>
        <div class="role-list">
          <h4 class="role-title">
            役職一覧
          </h4>
          <ul class="role-list">
            <li class="role">
              <label class="role-name">村人</label>
              <label class="role-number">2</label>
              <label class="edit-role">編集</label>
              <label class="remove-role">削除</label>
              <input type="text" class="role-name hide">
              <input type="number" class="role-number hide">
              <label class="finish-edit hide">完了</label>
            </li>
            <li class="role">
              <label class="role-name">人狼</label>
              <label class="role-number">&nbsp;1</label>
              <label class="edit-role">編集</label>
              <label class="remove-role">削除</label>
              <input type="text" class="role-name hide">
              <input type="number" class="role-number hide">
              <label class="finish-edit hide">完了</label>
            </li>
            <li class="add-role"><button id="add-role">役職追加</button></li>
          </ul>
        </div>
        <div class="sidebar-operations">
          <ul class="operation-buttons">
            <li class="operation-button">
              <button id="vote-result" class="vote-result">投票結果</button>
            </li>
            <li class="operation-button">
              <button id="reset-vote" class="reset-vote">投票リセット</button>
            </li>
            <li class="operation-button">
              <button id="manage-player" class="manage-player">メンバー管理</button>
              <button id="manage-end" class="manage-end hide">メンバー確定</button>
              <button id="manage-storage-user" class="manage-storage hide">プレイヤー一覧</button>
              <button id="game-reset" onclick="confirm('リセットして０日目に戻します');">ゲームリセット</button>
            </li>
          </div>
        </div>

        <footer>
          <h4>
            人狼演出アプリ プロトタイプ <%= version %><br>
            effect images created by <a href="http://www.facebook.com/natsuki.sato.japan" target="_blank">Natsuki Sato</a>
            application created by <a href="http://www.facebook.com/aizawa.masahiro" target="_blank">Masahiro Aizawa</a></h4>
        </footer>
      </div>

      <div id="mask" class="mask hide"></div>
      <div id="modal" class="hide">
        <div>
          <div class="modal-name">
            <span class="player-name">01:もぶぞー</span>
            <span class="close">×</span>
          </div>
          <div class="left-menu">
            <button id="day-kill-button" class="kill-button" type="button">昼死んだ</button><br>
            <button id="night-kill-button" class="kill-button" type="button">夜死んだ</button><br>
            <button id="kill-cancel" type="button">やっぱり死んでない</button>
          </div>
          <div class="modal-image">
            <img src="/images/mob-human.png" width="300" height="300">
            <input id="modal-id" type="hidden" value"">
          </div>
          <div class="right-menu">
            <input class="vote-number" type="number" min="0" value="0"><button id="vote" type="button">投票</button><br>
            <button id="vote-cancel" type="button">票取消し</button>
          </div>
        </div>
      </div>

      <div id="manage-modal" class="hide">
        <div>
          <div class="modal-name">
            <span class="player-name">
              <label class="player-name-label">クリックしてプレイヤー名を入力</label>
              <input class="player-name-editor hide" type="text">
            </span>
            <span class="close">×</span>
          </div>
          <div class="modal-image">
            <input type="file" id="player-image-upload" >
            <div class="uploaded-image">
              <div class="drag-drop-area">
                ここに画像を放り込んでアップロード
              </div>
            </div>
          </div>
          <div class="image-right-menu">
            <button id="save-player" type="button">保存</button><br>
            <button id="load-player" type="button">読込</button><br>
            <button id="add-new-player" type="button">追加</button>
            <button id="remove-player" class="hide" type="button">削除</button>
            <input type="hidden" class="edit-player-no hide">
          </div>
        </div>
      </div>

      <div id="load-modal" class="hide">
        <ul id="load-players">
        </ul>
        <div class="operation-buttons">
          <button id="load-image">読み込む</button>
          <button id="delete-image" class="hide">削除</button>
          <button id="cancel-image">やめる</button>
        </div>
      </div>

      <script>
        $(function(){
          var w = new ManageWolf();
        var l = new LoadImageDialog();
          var i = new ImageUploader($("div#manage-modal input#player-image-upload"), $("div#manage-modal div.uploaded-image"));
          onCancel = function(event) {
            if (event.preventDefault){
              event.preventDefault();
            }
            return false;
          };
          $("html").bind("dragenter", onCancel);
          $("html").bind("dragover", onCancel);
          $("html").bind("drop", onCancel);
        })
      </script>
    </body>
  </html>

